
.package-block {
    width:47%;
   /* border: 2px solid #208aff; */
    border: 2px solid grey;
    background-color: #ffffff;
    margin:10px 10px 0 0;
    padding:20px;
}

.btn-paypal {
    background: #ffc439 url('/img/icon_paypal.png') no-repeat top left;
    padding-left: 25px;
    padding-right: 25px;
    width: 200px;
    height: 37px;
}